.defaultButton {
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding: 18px 40px;
  border-radius: 40px;
}

.cartButton {
  position: relative;
  border-radius: 50%;
  padding: 10px 13px 5px 8px;
}

.cartButton, .defaultButton {
  background-color: #0084CA;
  border: 3px solid #0084CA;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #016DA6;
    border: 3px solid #016DA6;
  }

  &:focus {
    border: 3px solid #016DA6;
  }

  &:disabled {
    background-color: #7E7E7E;
    border: 3px solid #7E7E7E;
  }
}
