.mainBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 58px 11px 58px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .logo {
    font-size: 35px;
    line-height: 26px;
    margin-bottom: 7px;
  }

  > .additionalText {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 1.05em;
  }

  > .logo, > .additionalText {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
  }
}

.hamburger {
  cursor: pointer;
}