.button {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #0084CA;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  padding: 8px 13px;

  &:hover {
    border: 1px solid #016DA6;
  }

  &:focus {
    border: 3px solid #016DA6;
  }

  &:disabled {
    border: 3px solid #7E7E7E;
  }
}